{% extends 'sign_up/index.html' %}

{% block content %}
<div>
    <h1>Please fill in the form</h1>
    <form action="/signup/" method="post">
        {% csrf_token %}
        <div class="container">
            <label for"firstname" class="col-3">Firstname: </label>
            <input name="firstname" type="text" required/>
            <br>
            <label for"lastname" class="col-3">Lastname: </label>
            <input name="lastname" type="text" required/>
            <br>
            <label for"email" class="col-3">Email: </label>
            <input name="email" type="text"/>
            <br>
            <label for"password" class="col-3">Password: </label>
            <input name="password" type="password" required/>
        </div>
        <div class="container text-center">
            <button type="submit" class="btn btn-sm btn-outline-info">submit</button>
        </div>
    </form>
</div>
{% endblock %}
